
<%- include("partials/header") -%>

<div class="card text-center mt-4">
    <div class="card-header"><%= subhead %></div>
    <div class="card-body mt-4">
      <h2 class="card-title"><%= founder %></h2>
      <img src="C:\Users\OMIKUNLE ABDULKAREEM\Desktop\BootCamp 2023\Nodejs_CRUD\node-crud\uploads\image1689192812562_ads.jpg"class="" width="200">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      Notes
    </div>
  </div>

<%- include("partials/footer") -%>